:root {
  --light-primary: #00fff7;
  --light-secondary: #a6ffd4;
  --dark-primary: rgb(16, 16, 16);
  --dark-secondary: #4c547c;
  --dark-accent: #d3d8f1;
  --primary-font: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: var(--dark-primary);
  color: var(--light-primary);
}

nav {
  display: flex;
}

a {
  text-decoration: none;
}

nav ul {
  list-style: none;
}

/* small screens */
@media (max-width: 850px) {
}

/* medium screens */
@media (min-width: 850px) {
}
/* large screens */
@media (min-width: 1300px) {
}
